In [1]:
import pandas as pd

In [3]:
crypto = pd.read_csv("../data/crypto/raw/ND26_crypto.csv")
crypto.head()

,Unnamed: 0,Channel,Year,Degree,Level,Nationality,Career,Crypto type,Crypto usage,Crypto knowledge,Duration,Trade performance,Remittance amount,Crypto knowledge source,Influenced family and friends,Intend to use crypto in future
0,0,online,2025,STEM,MSc,China,Legal,"BTC,DOGE","remittance,trans",+++,4-5,NaN,50.0,friends,Y,Y
1,1,f2f,2022,STEM,1st,Turkey,Medical,NaN,remittance,+++,1,NaN,75.0,friends,Y,Y
2,2,online,2021,STEM,2nd,ME,NaN,"BTC,ETH",trade,+,1,--,NaN,marketing,Y,Y
3,3,online,2023,Business,PhD,China,Finance,BTC,"trade,remittance,trans",++,1-3,++,25.0,friends,Y,Y
4,4,f2f,2021,STEM,PhD,China,Technology,BTC,trade,+++,NaN,+++,NaN,study/research,Y,Y

In [4]:
dropout = pd.read_csv("../data/dropout/raw/ND26_dropout.csv")
dropout.head()

,Unnamed: 0,External,Year,session 1,session 2,test 1,session 3,session 4,test 2,session 5,test 3,session 6,ind cw,group cw,final grade,forum Q,forum A,office hour visits,dropout
0,0,Y,second,58,60,A,62.0,23.0,C,1.0,C,97.0,F,F,B,12,6,4,N
1,1,Y,third,96,32,A,86.0,93.0,A,44.0,A,24.0,B,A,F,6,7,2,N
2,2,Y,first,0,4,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,0,Y
3,3,N,third,14,2,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,2,0,Y
4,4,N,second,67,16,A,86.0,69.0,A,81.0,D,NaN,NaN,NaN,NaN,1,2,0,Y